language: c
compiler:
  - gcc
  - clang

before_install: ./.travis/prepare.sh

env:
  - OPTS="--disable-ssl"
  - TESTSUITE=1 KERNEL=3.17.4
  - KERNEL=3.17.4 DPDK=1 OPTS="--with-dpdk=./dpdk-1.7.1/build"
  - TESTSUITE=1 OPTS="--enable-shared"
  - KERNEL=3.17.4 DPDK=1 OPTS="--enable-shared"
  - KERNEL=3.16.7
  - KERNEL=3.14.25
  - KERNEL=3.12.33
  - KERNEL=3.10.61
  - KERNEL=3.4.104
  - KERNEL=2.6.32.64

script: ./.travis/build.sh $OPTS

notifications:
  email:
    recipients:
      - secure: KvLIamml/jrttYgh1B671IPac8T+xSnwkq4jXgSXk/SIVTIIL7BoXht/EGxh1SB6RjFSv4c/gIxGMUuk66Ekh/IzzDemNbkd2gA64svWKfcZD2Pbm0gFDSBkEBpT9hh3clI6reSfF6YVFLOU7DO7//JOmfMYrsefxGaXErmCrUs=
